* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 408px;
  height: 584px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-title {
  padding-top: 25px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
}

.form-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #8e8f99;
}

.close-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
.close {
  font-size: 24px;
  font-weight: bold;
  color: #2e2f42;
  transition: color 0.3s;
}

.close-border:hover {
  background-color: white;
}
.close:hover {
  color: darkred;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: color 150ms ease-in-out;
}

.input-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 18px;
  left: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  pointer-events: none;
  fill: #2e2f42;
}

.form-input {
  width: 360px;
  height: 40px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding-left: 32px;
}

.form-input:focus + .form-icon {
  border-color: #4d5ae5;
  outline: none;
  fill: #4d5ae5;
}
.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.form-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}
.form-textarea {
  width: 360px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding: 10px;
}
.privacy {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  align-items: center;
}
.privacy-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: #757575;
}
.checkbox {
  width: 16px;
  border: 1px solid #757575;
  height: 16px;
  top: 2px;
  border-radius: 2px;
  border-width: 1px;
}
.form-button {
  width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  display: block;
  margin: 20px auto 0;
}

.form-button:hover {
  background-color: #3c46b8;
}
